@import url(bootstrap.min.css);
body{

    background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)),url("https://bit.ly/2PhYVVI") no-repeat center center/cover;
    margin: 0 auto;
}
input, label {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    
}
footer{
    background-color: black;
    color: blue;
    font-weight: bold;
    text-align: center;
}

form {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    display: block;
}
h1{
    color: blue;
    text-align: center;
    font-size: 2em;
    
}
.graph{
    font-size: 1.5em;
}